<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Folha de Estilo Própria -->
    <link rel="stylesheet" href="assets/css/style.css">    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome/css/all.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick/slick.css">

    <!-- Scripts-->
    <!-- Jquery -->
    <script type="text/javascript" src="assets/js/jquery/jquery-3.6.0.min.js"  defer></script>
    <!-- Scripts Próprios -->
    <script type="text/javascript"  src="assets/js/script.js" defer></script>
    <!-- Slick -->
    <script type="text/javascript"  src="assets/js/slick/slick.min.js" defer></script>

</head>

<body>  
    <header class="header bg-black-af" id="header">
        <div class="container">
            <a class="menu-mobile-link" id="toggleMenu">
                <img src="assets/svg/menu-icon.svg" alt="">
            </a>
            <a href="" class="logo">
                <img src="assets/svg/logo.svg" alt="">
            </a>
            <nav class="primary-navbar bg-black-2-af ">
                <ul class="links pai">
                    <li class="link tem-filho">
                        <a href="#" title="Institucional"><span>Institucional <i class="fas fa-chevron-down"></i></span></a>
                        <ul class="links filho">
                            <li class="link">
                                <a href="#" title="Novos"><span>Quem Somos</span></a>
                            </li>
                            <li class="link">
                                <a href="#" title="Institucional"><span>Fale Conosco</span></a>
                            </li>
                            <li class="link">
                                <a href="#" title="Institucional"><span>Endereços</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Novos</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Ofertas</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Seminovos</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Consorcio <span class="tag .bg-red-af">Novo</span></span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Vendas Direta"><span>Vendas Direta</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Lifestyle"><span>Lifestyle</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Pós-vendas"><span>Pós-vendas</span></a>
                    </li>
                </ul>
            </nav>

            <nav class="secondary-navbar">
                <ul class="links">
                    <li class="link d-xl-none">
                        <a href="" title="Ligar">
                            <div class="link-rounded link-phone bg-red-af">
                                <img src="assets/svg/phone.svg" alt="Phone">
                            </div>
                        </a>
                    </li>
                    <li class="link d-xl-none">
                        <a href="" title="Ligar">
                            <div class="link-rounded link-whatsapp">
                                <img src="assets/svg/whatsapp.svg" alt="Whatsapp">
                            </div>
                        </a>
                    </li>
                    <li class="link d-xl-none">
                        <a href="" title="Fiat">
                            <img src="assets/svg/fiat.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>  
        
    </header>
    <section class="banner">
        <img src="assets/img/bannermobile.png" alt="">
    </section>
    <section class="products">
        <div class="container">
            <div class="content">
                <div class="slider">
                  <div>
                    <div class="image">
                      <img src="https://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="">
                    </div> <!-- end image -->
                  </div>
                  <div>
                    <div class="image">
                      <img src="https://kenwheeler.github.io/slick/img/lazyfonz4.png" alt="">
                    </div> <!-- end image -->
                  </div>
                </div> <!-- end slider -->
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <span class="slider__label sr-only">
                </div>
                </span>
              </div> 
              <a href="" class="ver-todos">ver Todos os Modelos</a>
        </div>
        
        <!-- end content -->
    </section>

    <a href="" class="whatsapp-call-to-action link-whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>
</body>
</html>