<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Folha de Estilo Própria -->
    <link rel="stylesheet" href="assets/css/style.css">    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome/css/all.min.css">
    <!-- Glide -->
    <link rel="stylesheet" href="assets/css/glide/glide.core.min.css">

    <!-- Scripts-->
    <!-- Jquery -->
    <script type="text/javascript" src="assets/js/jquery/jquery-3.6.0.min.js"  defer></script>
    <!-- Scripts Próprios -->
    <script type="text/javascript"  src="assets/js/script.js" defer></script>
    <!-- Glide -->
    <script type="text/javascript"  src="assets/js/glide/glide.min.js" defer></script>

</head>

<body>  
    <div class="load-page bg-black-af">
        <img src="assets/svg/logo.svg" alt="">
    </div>
    <header class="header bg-black-af" id="header">
        <div class="container">
            <a class="menu-mobile-link" id="toggleMenu">
                <img src="assets/svg/menu-icon.svg" alt="">
            </a>
            <a href="" class="logo">
                <img src="assets/svg/logo.svg" alt="">
            </a>
            <nav class="primary-navbar bg-black-2-af ">
                <ul class="links pai">
                    <li class="link tem-filho">
                        <a href="#" title="Institucional"><span>Institucional <i class="fas fa-chevron-down"></i></span></a>
                        <ul class="links filho">
                            <li class="link">
                                <a href="#" title="Novos"><span>Quem Somos</span></a>
                            </li>
                            <li class="link">
                                <a href="#" title="Institucional"><span>Fale Conosco</span></a>
                            </li>
                            <li class="link">
                                <a href="#" title="Institucional"><span>Endereços</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Novos</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Ofertas</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Seminovos</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Institucional"><span>Consorcio <span class="tag .bg-red-af">Novo</span></span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Vendas Direta"><span>Vendas Direta</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Lifestyle"><span>Lifestyle</span></a>
                    </li>
                    <li class="link">
                        <a href="#" title="Pós-vendas"><span>Pós-vendas</span></a>
                    </li>
                </ul>
            </nav>

            <nav class="secondary-navbar">
                <ul class="links">
                    <li class="link d-xl-none">
                        <a href="" title="Ligar">
                            <div class="link-rounded link-phone bg-red-af">
                                <img src="assets/svg/phone.svg" alt="Phone">
                            </div>
                        </a>
                    </li>
                    <li class="link d-xl-none">
                        <a href="" title="Ligar">
                            <div class="link-rounded link-whatsapp">
                                <img src="assets/svg/whatsapp.svg" alt="Whatsapp">
                            </div>
                        </a>
                    </li>
                    <li class="link d-xl-none">
                        <a href="" title="Fiat">
                            <img src="assets/svg/fiat.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>  
        
    </header>
    <section class="banner">
        <div class="banner_home">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide" style="background-image: url('assets/img/bannermobile.png');">
                    <img src="assets/img/bg.png" alt="">
                </li>
                <li class="glide__slide" style="background-image: url('assets/img/bannermobile.png');">
                    <img src="assets/img/bg.png" alt="">
                </li>
                <li class="glide__slide" style="background-image: url('assets/img/bannermobile.png');">
                    <img src="assets/img/bg.png" alt="">
                </li>
                <li class="glide__slide" style="background-image: url('assets/img/bannermobile.png');">
                    <img src="assets/img/bg.png" alt="">
                </li>
              </ul>
              <div class="slide-controls">
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"><i class="fas fa-circle"></i></button>
                    <button class="glide__bullet" data-glide-dir="=1"><i class="fas fa-circle"></i></button>
                    <button class="glide__bullet" data-glide-dir="=2"><i class="fas fa-circle"></i></button>
                    <button class="glide__bullet" data-glide-dir="=3"><i class="fas fa-circle"></i></button>
                  </div>
                  <div data-glide-el="controls" class="glide__controls">
                    <button data-glide-dir=">>"><i class="fas fa-long-arrow-alt-right"></i></button>
                  </div>
              </div>
              
            </div>
            
            
          </div>
    </section>
    <section class="products">
        <div class="container">
            <div class="spots_slide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="spot">
                            <div class="spot-image" style="background-image: url('assets/img/products/1.png');">
                                <img src="assets/img/products/bg.png" alt="">
                            </div>
                            <div class="spot-body">
                                <h4 href="javscript:void(0)">
                                    Cronos
                                </h4>
                                <div class="price">
                                    <span>A partir de R$ 129.990</span>
                                </div>
                            </div>
                            <div class="spot-button">
                                <a href=""><i class="fas fa-chevron-right"></i><span>Saiba Mais</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="spot">
                            <div class="spot-image" style="background-image: url('assets/img/products/2.png');">
                                <img src="assets/img/products/bg.png" alt="">
                            </div>
                            <div class="spot-body">
                                <h4 href="javscript:void(0)">
                                    Cronos
                                </h4>
                                <div class="price">
                                    <span>A partir de R$ 129.990</span>
                                </div>
                            </div>
                            <div class="spot-button">
                                <a href=""><i class="fas fa-chevron-right"></i><span>Saiba Mais</span></a>
                            </div>
                        </div>
                    </li>
                  </ul>
                  <div data-glide-el="controls" class="glide__controls">
                    <button class="button-slide-products left" data-glide-dir="<"><i class="fas fa-chevron-left"></i></button>
                    <button class="button-slide-products right" data-glide-dir=">"><i class="fas fa-chevron-right"></i></button>
                  </div>
                </div>
                <div class="progress">
                    <div class="progress-bar">
                        
                    </div>
                </div>
            </div>
                
              <a href="" class="ver-todos">ver Todos os Modelos</a>
        </div>
        
        <!-- end content -->
    </section>

    <a href="" class="whatsapp-call-to-action link-whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>
</body>
</html>