@font-face {
    font-family: "Futura";
    src: url("../font/futura-pt-demi.otf");
}

@font-face {
    font-family: "Futura PT Book";
    src: url("../font/futura-pt-book.otf");
}

@font-face {
    font-family: "Futura PT Extra Bold";
    src: url("../font/futura-pt-extra-bold.otf");
}

body {
    padding: 60px 0 0 0;
    margin: 0;
    border: 0;
    font-family: "Futura";
    font-size: 14px;
    background-color: #2B222F;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

hr {
    margin: 0 auto;
    width: 90%;
    position: relative;
    /* bottom: 0px; */
}

.load-page {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    background:black;
    display: flex;
    justify-content: center;
    align-items:center
}

.bg-black-af{
    background-color: #17131F;
}

.bg-black-2-af {
    background: #433B47;
}

.bg-red-af {
    background-color: #FF1430;
}

.container.padding-0 {
    padding: 0;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 320px;
}

a.logo, .link a {
    display: flex;
}

.header{
    padding: 15px 0;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .menu-mobile-link {
    margin-right: 20px;
}

.header-menu-mobile {
    background: #595959;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .primary-navbar .header-menu-mobile .close-menu-mobile svg {
    /* font-size: 12px; */
    width: 24px;
}

.header .primary-navbar .header-menu-mobile .close-menu-mobile path {
    fill: white;
} 

.header .secondary-navbar {
    margin-left: auto;
}

.header .secondary-navbar .links {
    display: flex;
    align-items: center;
    min-width: 123px;
    justify-content: space-between;
}

.link-rounded {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-whatsapp{
    background-color: #2FB640;
}

.banner .glide__slide,
.products .spot-image  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}

.banner .glide__slide img,
.products .spot-image img {
    width: 100%
}

.products .spot-image {
    margin-bottom: 13px;
}

.banner .glide__bullets {
    width: 70px;
    display: flex;
    justify-content: space-between;
    /*position: relative;
    bottom: 23px;*/
    align-items: center;
}

.banner .glide__controls button{
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    font-size: 16px;
    display: flex;
}

.banner .glide__controls button i {
    color: white;
}

.banner .slide-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    /* bottom: 23px; */
    top: 50%;
    width: 100%;
}

.banner .glide__bullets button{
    background: none;
    border: none;
    padding: 0;
}

.banner .glide__bullets button:not(.end-slide) i {
    font-weight: 100;
    color: white;
    font-size: 10px;
}

.banner .glide__bullets .glide__bullet--active:not(.end-slide) i {
    font-weight: 700;
}

.spots_slide {
    margin-bottom: 29px;
}

/*.spots_slide li.glide__slide {
    width: 160px !important;
}*/

.products {
    padding-top: 23px;
}

.products .glide__track {
    margin-bottom: 22px;
}

.products .spot-body {
    text-align: center;
}

.products .spot-body h4,
.products .spot-body .price span  {
    margin: 0;
    font-size: 14px;
}

.products .spot-body h4{
    line-height: 21px;
    text-transform: uppercase;
    color: #EDEDE3;
    font-family: "Futura PT Extra Bold";
}

.products .spot-body .price {
    margin-bottom: 20px;
}

.products .spot-body .price span {
    font-family: "Futura PT Book" ;
    margin-bottom: 20px;
    color: #D0CED1;
}

.products .spot-button {
    text-align: center;
}

.products .spot-button a{
    font-size: 12px;
    color: #EDEDE3;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .spot-button i{
    color: #FF1430;
    margin-right: 8px;
}

.products a.ver-todos {
    display: flex;
    border: 1px solid #FF1430;
    padding: 18px 61px;
    text-align: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    /* font-size: 14px; */
}

.products .button-slide-products {
    position: absolute;
    top: 68%;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    opacity: 0.8;
    background: #FAFAFA;
}

.products .button-slide-products.left{
    left: 12px;
} 

.products .button-slide-products.right {
    right: 12px
}

.products .progress {
    width: 90%;
    height: 8px;
    border-radius: 20px;
    background: white;
    margin: 0 auto;
}

.products .progress .progress-bar{
    background: rgb(254,179,36);
    background: linear-gradient(90deg, rgba(254,179,36,1) 0%, rgba(253,45,50,1) 100%);
    height: 100%;
    border-radius: 20px;
    transition: .3s;
}

.products .tag {
    position: absolute;
    color: white;
}

a.whatsapp-call-to-action.link-whatsapp {
    position: fixed;
    right: 23px;
    bottom: 23px;
    font-size: 33px;
    color: white;
    padding: 0px;
    width: 59px;
    height: 59px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 30px; */
}

@media screen and (max-width: 991px){
    .header .primary-navbar {
        position: fixed;
        width: 100%;
        left: 0;
        top: 60px;
        display: none;
        z-index: 1;
        
    }
    .header .primary-navbar .link a{
        padding: 0 15px;
        color: white;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
    }

    .header .primary-navbar .link:last-child a > span {
        border-bottom: 0;
    }

    .header .primary-navbar .link a > span {
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #726C75;
    }

    .header .primary-navbar .link a.active {
        background-color: #FD1730;
    }

    .header .primary-navbar .link a.active > span {
        border-bottom: 0;
        
    }

    .header .primary-navbar .link a > span i {
        transition: .3s;
        float: right;
        position: relative;
        top: 3px;
    }

    .header .primary-navbar .link a.active > span i{
        border-bottom: 0;
        transform: rotate(-180deg);
    }
    .header .primary-navbar .links.filho {
        padding-left: 17px;
        display: none;
    }

    .header .primary-navbar .links.filho .link {
        padding-right: 0;
    }

    .tag {
        padding: 3px 7px;
        background: red;
        font-size: 11px;
        border-radius: 7px;
        margin-left: 8px;
    }
}

